joblib==1.5.3
-e git+https://github.com/anninameyer/Intelligrate.git@2551b760713e8e708661a4757a283b295b5f5f21#egg=ko_from_amplicon&subdirectory=ko_from_amplicon_agent
numpy==2.4.1
pandas==3.0.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scikit-learn==1.8.0
scipy==1.17.0
six==1.17.0
threadpoolctl==3.6.0
